body{
    text-align: center;
    background-color: aqua;
    font-family: "Signika Negative", sans-serif;
  }
h1{
  color: black;
  font-size: 4rem;
  background-color: white;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.beverage-name{
  font-size: 2.25rem;
  color: black ;
  background-color: #FFAE00;
}
#recipes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result{
  background-color: #66FFBF;
  width: 30%;
  height: 40%;
  text-align: center;
  border-radius: 5%;
  margin-top: 2.5rem;
  box-shadow: 8px 8px rgb(103, 161, 255);
}
.image{
  width: 10vw;
  height: 50vh;
}
.header{
  font-size: 1.25rem;
  color: #660046;
}
.paragraph{
  font-size: 1.05rem;
  color: #2800AD;
}
#attenuation-level,
#ph,
#alcohol-srm,
#reset,
#IBU{
  font-size: 1.5rem;
}

@media screen and (max-width: 1920px){
  h1{
    font-size: 4rem;
  }
  .beverage-name{
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1024px) {
  h1{
    font-size: 3.5rem;
  }
  .beverage-name{
    font-size: 2.25rem;
  }
  .image{
    height: 35vh;
  }
  .result{
    width: 43%;
  }
}

@media screen and (max-width: 620px) {
  #recipes{
    display: flex;
    flex-direction: column;
  }
  h1{
    font-size: 3.5rem;
  }
  .beverage-name{
    font-size: 2rem;
  }
  .result{
    width: 80%;
    margin-left: 7%;
  }
  .image{
    width: 25vw;
    height: 35vh;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 60%;
  }
  #attenuation-level,
  #ph,
  #alcohol-srm,
  #reset,
  #IBU{
    margin-top: 3%;
  }
}

   