body{
    text-align: center;
}
h1{
  color: white;
  font-size: 4rem;
}
#recipes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result{
  background-color: #f76565;
  width: 30%;
  text-align: center;
  border-radius: 5%;
  margin-top: 2.5rem;
}
.image{
  height: auto;
  max-width: 50%;
}
path {
    transform-origin: 50% 50%;
  }
  .background--custom {
    background-color: #FFFFFF;
    position: absolute;

    z-index: -1;
    top: 0;
    left: 0;
  }
  @keyframes path0 {
    0% {
      transform: rotate(80deg);
    }
    100% {
      transform: rotate(-20deg);
    }
  }
  @keyframes path1 {
    0% {
      transform: rotate(60deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  @keyframes path2 {
    0% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(-50deg);
    }
  }