body{
    text-align: center;
    background-color: aqua;
  }
h1{
  color: white;
  font-size: 4rem;
}
.beverage-name{
  color:;
  font-size: 2.25rem;
  color: yellow ;
}
#recipes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result{
  background-color: #00ff9d;
  width: 30%;
  height: 40%;
  text-align: center;
  border-radius: 5%;
  margin-top: 2.5rem;
  box-shadow: 8px 8px rgb(103, 161, 255);
}
.image{
  width: 10vw;
  height: 50vh;
}
.header{
  font-size: 1.25rem;
  color: rgb(255, 91, 91);
}
.paragraph{
  font-size: 1.05rem;
  color: rgb(255, 103, 255);
}
#attenuation-level,
#ph,
#alcohol-srm,
#IBU{
  font-size: 1.5rem;
}



   